#header{
    width: $complete;
    z-index: 200;
    background-color: $background-header;
    line-height: 2.7em;
    padding: 0 1.5em;
    color: $white;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    @include respond-to(handhelds) { padding: 0};
    img{
        margin-top: 5px;
        height: 32px;
        width: 110px;
        @include respond-to(handhelds) { width: 90px};
    }
    a{
        background-color: $blue;
        text-decoration: none;
        color: $white;
        border-radius: 3px;
        padding: .3em .5em;
        line-height: 1em;
        margin-left: 10px;
        span {
            color: $transparent;
        }
        &:hover {
            span{
                color: $white;
            }
        }
    }
}