.sign{
    padding: 0 50px;
    margin: 20px 0;
    input{
        border: none;
        padding: 1em;
        font-size: 1.1em;
    }
    
    .btn{
        width: $complete;
        margin: 0;
        padding: 1em;
        font-size: 1.1em;
        background: transparent;
        color: $white;
        border: 1px solid $white;
        margin-top: 10px;
        &:hover{
            background: rgb(247, 239, 239);
            color: $background;
            transition: all 0.15s;
        }
    }
}
.signin {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1em;
    text-decoration: none;
}