$background:#0079BF;
$background-header:#0067A3;
$background-box:rgba(222, 225, 227, 0.9);
$blue:rgba(13, 155, 231, 0.452);
$red:#E21515;
$white: white;
$transparent: rgba(255, 255, 255, 0.5);
$complete:100%;