/*Seccion titulo*/
#titulo{
    width: 100%;
    background-color: #0067A3;
    line-height: 2.7em;
    padding: 0 1.5em;
    color: #fff;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  #titulo img{
    margin-top: 5px;
    height: 32px;
    width: 110px;
  }
  #titulo a{
    background-color: rgba(0, 124, 191, 0.452);
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: .3em .5em;
    line-height: 1em;
    margin-left: 10px;
  }
  #titulo a span{
    color: rgba(255, 255, 255, 0.5);
  }
  
  #titulo a:hover span{
    color: white;
  }