.sign{
  padding: 0 50px;
  margin: 20px 0;
}
.sign input{
  border: none;
  padding: 1em;
  font-size: 1.1em;
}

.sign button{
  width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 1.1em;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 10px;
}

.sign button:hover{
  background: rgb(247, 239, 239);
  color: #0079BF;
  transition: all 0.15s;
}
.hola {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1em;
  text-decoration: none;
}