body {
  background-color: #0079BF;
  padding: 5px;
  font: 14px/18px "Helvetica Neue",Arial,Helvetica,sans-serif;
  color: #393939;
  margin: 0;
  padding: 0;
}

/*Seccion titulo*/
#titulo{
  width: 100%;
  display: flex;
  background-color: #0067A3;
  line-height: 2.7em;
  padding: 0 1.5em;
  color: #fff;
  position: relative;
  text-align: center;
}
#titulo img{
  align-self: center;
  justify-self: center;
  margin-top: 5px;
  height: 32px;
  width: 110px;
}
/*Seccion contenido*/
#contenido{
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  overflow: auto;
}

/*boton añadir lista*/
.empezar{
  margin: 5px 20px;
  padding: 10px;
  background-color: #006BA9;
  text-align: left;
  color: #B3D3E5;
  display: inline-block;
  width: 17em;
  border-radius: 5px;
}
.empezar:hover {
  background-color: #005586;
  cursor: pointer;
}

/*Seccion lista*/
.lista {
  background-color: #E3E3E3;
  border-radius: 10px;
  margin: 0 15px;
  padding: 10px;
  width: 17em;
  display: inline-block;
}

.lista h3{
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  cursor: grab;
}

/*boton añadir tarjeta*/
.añadir{
  color: gray;
  cursor: pointer;
  margin: 15px 0;
}

/*formulario*/
button {
  padding: 10px;
  margin: 0 5px;
  background-color: #5BAE45;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.eliminar{
  background-color: transparent;
  width: 10px;
  border: none;
  padding: 0;
  color: gray;
}

input{
  width: 92%;
  margin: 0.3em 0;
  padding: 0.3em;
  border-radius: 5px;
  height: 2em;
}

/*cada tarea agregada*/
.tarea {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  border-radius: 5px;
  padding: 6px 8px;
  margin: 2px 0;
}

.tarea:hover {
  background-color: #F0F0F0;
}
